/* src/styles/global.css */
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  /* CAMBIO: Padding pequeño en móvil, grande en escritorio */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Solo aplicar el margen grande en pantallas medianas hacia arriba */
@media (min-width: 768px) {
  body {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}