---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import WhyUs from '../components/WhyUs.astro';
import AboutUs from '../components/AboutUs.astro';
import Products from '../components/Products.astro';
import Retread from '../components/Retread.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Rumbomotriz - Neumáticos y Rencauche para Minería">
  <div class="relative w-full flex flex-col items-center">

    <Header />
    <Hero />
    <WhyUs />
    <AboutUs />
    <Products /> 
	<Retread />
	<Contact />

  </div>
</Layout>

